url: "https://forooghian.com" # the base hostname & protocol for your site, e.g. http://example.com
baseurl: "" # the subpath of your site, e.g. /blog
title: "Lawrence Forooghian" # the name of your site, e.g. ACME Corp.

defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: default

  - scope:
      path: notes
      type: posts
    values:
      layout: default
      # No date for notes. I anticipate a note being something that evolves
      # over time.
      permalink: /:categories/:title
